.container{
    width: 100%;
    max-width: 1200px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 320px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(240, 240, 240);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    background:rgba(48, 48, 48.8);
    cursor: pointer;

}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 10px 12px rgba(165, 159, 157);
}

.container .card img{

    width: 320px;
    height: 380px;
}


.container .card h4{
    font-weight: 600;
    color: #FF2121;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: #F0F0F0;

}

































































